$pink-color: #ff65a8;
$main-text-color: #777;
$main-light-color: #f9f6ff;
$main-dark-color: #0d1113;

$linear-gradient: linear-gradient(0.87deg, rgb(0 0 0 / 90%) 0.69%, rgb(34 28 48 / 47%) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);

$spacer: 5rem;